<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{general/userBase::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>Show Contacts</title>
</head>

<body>
	<section>
		<div class="card mr-3 ml-3">
			<div class="card-body">
				<h1 class="text-center">Your Contacts</h1>

				<div class="tableDiv">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">#ID</th>
								<th scope="col">Name</th>
								<th scope="col">Email</th>
								<th scope="col">Phone</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="c: ${listOfContacts}">
								<th scope="row" th:text="${'SCM2024'+c.cid}"></th>
								<td>
								<img class="profileImage" src="" th:src="@{'/img/contact/'+${c.image}}" alt="" />
								<span th:text="${c.name}"></span>
								</td>
								<td>
								<a href="" th:href="@{'/user/'+${c.cid}+'/contactDetail'}" ><span th:text="${c.email}"></span></a>
								</td>
								<td th:text="${c.phone}"></td>
								<td>
									<button class="btn btn-danger btn-sm">
										<i class="fa-solid fa-trash-can text-white"></i> Delete
									</button>
									<button class="btn btn-primary btn-sm">
										<i class="fa-solid fa-pen-to-square text-white"></i> Update
									</button>
								</td>
							</tr>

						</tbody>
					</table>
				</div>

				<!-- pagination -->
				<div style="display:flex;justify-content:center;align-items:center;">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li th:if="${currentPage != 0}" class="page-item"><a
								th:href="@{'/user/show-contacts/'+${currentPage-1}}"
								class="page-link" href="#">Previous</a></li>
							<li th:classappend="${currentPage == i-1 ? 'active':''}"
								th:each="i : ${#numbers.sequence(1,totalPages)}"
								class="page-item"><a class="page-link"
								th:href="@{'/user/show-contacts/'+${i-1}}" href="#"><span
									th:text="${i}"></span></a></li>
							<li th:if="${currentPage+1 != totalPages}" class="page-item"><a
								th:href="@{'/user/show-contacts/'+${currentPage+1}}"
								class="page-link" href="#">Next</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</section>
</body>

</html>