<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{general/userBase::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>Welcome</title>
</head>

<body>
	<section>
		<div class="card mr-3 ml-3" th:if="${contactDetail}">
			<div class="card-body">
				<div class="container text-center">
					<img style="height: 200px; width: 200px;" class="profileImage"
						src="" th:src="@{'/img/contact/'+${contactDetail.image}}" alt="" />
					<h3 class="mt-3">
						<span th:text="${contactDetail.name}"></span> ( <span
							th:text="${contactDetail.secondName}"></span> )
					</h3>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">#ID</th>
									<th scope="col"><span
										th:text="${'SCM2024'+contactDetail.cid}"></span></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Email</th>
									<td><span th:text="${contactDetail.email}"></span></td>
								</tr>
								<tr>
									<th scope="row">Phone</th>
									<td><span th:text="${contactDetail.phone}"></span></td>
								</tr>
								<tr>
									<th scope="row">Work</th>
									<td><span th:text="${contactDetail.work}"></span></td>
								</tr>

							</tbody>
						</table>
					</div>
					<div class="description mt-3">
						<th:block th:utext="${contactDetail.description}"></th:block>
					</div>

					<div class="container mt-3">
						<button class="btn btn-danger btn-sm"
							th:onclick="|deleteContact(${contactDetail.cid})|">
							<i class="fa-solid fa-trash-can text-white"></i> Delete
						</button>
						<form th:action="@{'/user/update/'+${contactDetail.cid}}"
							class="mt-3" method="post">
							<button type="submit" class="btn btn-primary btn-sm">
								<i class="fa-solid fa-pen-to-square text-white"></i> Update
								Contact
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<h2 class="text-center p-3 bg-danger text-white"
			th:unless="${contactDetail}">The contact does not exist</h2>
	</section>
</body>

</html>