<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
	integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
	
		<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>

<title th:text="${title}">base page</title>

</head>

<body>
	<!-- start of navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
		<a class="navbar-brand" href="#">Smart Contact Manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto text-uppercase">
				<li class="nav-item active"><a class="nav-link" href="#"
					th:href="@{/user/index}">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="#"><span
						th:text="${userDetail.name}"></span></a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
			</ul>

		</div>
	</nav>
	<!-- end of navbar -->

	<!-- sidebar -->
	<div class="sidebar mt-2">
		<span class="crossBtn" onclick="toggleSideBar()">&times;</span> 
		<a id="home" href="#" th:href="@{/user/index}" class="item common">
		<i id="homeFont" class="fa-solid fa-house common" style="color: #009688;"></i> Home</a> 
		<a id="viewContact" href="#" th:href="@{/user/show-contacts/0}" class="item common">
		<i id="viewContactFont" class="fa-solid fa-id-card-clip common" style="color: #009688;"></i> View Contacts</a>
		<a id="addContact" href="#" th:href="@{/user/add-contact}" class="item common">
		<i id="addContactFont" class="fa-solid fa-user-pen common" style="color: #009688;"></i> Add Contact</a>
		<a id="userProfile" href="#" th:href="@{/user/user-profile}" class="item common">
		<i id="userProfileFont" class="fa-solid fa-user common" style="color: #009688;"></i> Your Profile</a>
		<a id="setting" href="#" th:href="@{/user/user-profile-update}" class="item common">
		<i id="settingFont" class="fa-solid fa-user-gear common" style="color: #009688;"></i> Settings</a> 
		<a href="#" th:href="@{/logout}" class="item">
		<i class="fa-solid fa-right-from-bracket" style="color: #009688;"></i> Logout</a>
		<div class="divider"></div>
	</div>
	<!-- END of sidebar -->

	<!-- content -->
	<div class="content mt-5">
		<i class="fa-solid fa-bars m-3" style="cursor: pointer"
			onclick="toggleSideBar()"></i>
		<div class="container" th:if="${session.message}">
			<div th:classappend="${'alert-'+session.message.type}"
				class="alert text-center" role="alert">
				<span th:text="${session.message.content}"></span>
			</div>
			<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
		</div>
		<div th:replace="${content}"></div>
	</div>
	<!-- END of content -->

	<!-- Optional JavaScript; choose one of the two! -->


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script th:src="@{/js/script.js}"></script>

	<script>
	function deleteContact(cid){
	swal({
  title: "Are you sure?",
  text: "you want to delete this contact...",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
   window.location = "/user/delete/"+cid;
  } else {
    swal("Your contact is safe!");
  }
});
	}
</script>

</body>

</html>