<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>about</title>
</head>
<body>
	<section>
		<div id="login">
			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" class="col-md-12" style="height: 270px;">
							<div class="container my-2" th:if="${session.message}">
								<div th:classappend="${'alert-'+session.message.type}"
									class="alert text-center" role="alert">
									<i class="fa-solid fa-triangle-exclamation"></i>&nbsp;&nbsp;&nbsp;<span
										th:text="${session.message.content}"></span>
								</div>
								<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
							</div>
							<h1 class="text-center m-3">Forget Password</h1>
							<form id="login-form" class="form" th:action="@{/sendOTP}"
								action="#" method="post">
								<div class="form-group">
									<input type="email" class="form-control" name="email" required
										placeholder="Enter registered email address" />
								</div>
								<div class="container text-center">
									<button class="btn btn-warning rounded">send OTP</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>