<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title>about</title>
</head>
<body>
	<section>
		<div id="login">
			<div class="container">
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" class="col-md-12" style="height: 250px;">
							<div class="alert alert-success mt-2 text-center" role="alert">
								<i class="fa-solid fa-check fa-xl"></i>&nbsp;&nbsp;&nbsp;
								OTP sent to your registered email address
							</div>
							<form id="login-form" class="form" th:action="@{/verifyOTPEmail}"
								action="#" method="post">
								<div class="form-group">
									<input type="text" class="form-control" name="otp" required
										pattern="\d{6}"
										oninput="this.value=this.value.replace(/[^0-9]/g,'');"
										maxlength="6" placeholder="Enter OTP" />
								</div>
								<div class="container text-center">
									<button class="btn btn-success">verify</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>